<div class="row">
	<div class="col-md-6">
		<h3>Money In</h3>
		<ul>
			<li ng-hide="transitionsMoneyIn.length">no transaction</li>
            <li ng-repeat="transation in transitionsMoneyIn">
                <strong>{{ transation.amout | currency }}</strong> - {{ transation.date | date:'medium' }}
            </li>
		</ul>
	</div> 
	<div class="col-md-6">
		<h3>Money Out</h3>
        <ul>
            <li ng-hide="transitionsMoneyOut.length">no transaction</li>
            <li ng-repeat="transation in transitionsMoneyOut">
                <strong>{{ transation.amout | currency }}</strong> - {{ transation.date | date:'medium' }}
            </li>
        </ul>
	</div>
</div>