/* bootstrap */
.navbar-nav {
  margin: 0;
}

/* page */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

#header .title {
  float: left;
  margin: 0;
  padding: 10px 17px;
}

#header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

#header .navbar-nav li a {
  padding: 20px 15px; 
}

#footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}